<div class="separador"></div>
<div class="fondo">
  <div class="container-fluid text-center">
    <div>
    <h1> Login </h1>
    <%= form_tag sessions_path do %>
      <div class="field form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div class="field form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>


      <div class="actions btn">
        <%= submit_tag 'Inicia sesión' %>
      </div>

    <% end %>
    </div>
  </div>
</div>
<div class="separador"></div>