<p id="notice"><%= notice %></p>

<p>
  <strong>Coche:</strong>
  <%= @buysell.coche %>
</p>

<p>
  <strong>Comprador:</strong>
  <%= @buysell.comprador %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @buysell.vendedor %>
</p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @buysell.fecha_publicacion %>
</p>

<p>
  <strong>Fecha compra:</strong>
  <%= @buysell.fecha_compra %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @buysell.precio %>
</p>

<%= link_to 'Edit', edit_buysell_path(@buysell) %> |
<%= link_to 'Back', buysells_path %>
