<%= form_tag venta_create_path do |f|  -%>

  <div class="field">
    <%= text_field_tag :marca %>
  </div>

  <div class="field">
    <%= text_field_tag :modelo %>
  </div>

  <div class="field">
    <%= date_field_tag :fecha_matriculacion %>
  </div>

  <div class="field">
    <%= text_field_tag :combustible %>
  </div>

  <div class="field">
    <%= number_field_tag :kms %>
  </div>

  <div class="field">
    <%= text_area_tag :descripcion %>
  </div>

  <div class="field">
    <%= number_field_tag :precio %>
  </div>

  <div class="actions">
    <%= submit_tag 'Anunciar'%>
  </div>
<% end %>