<%= form_with(model: puja, local: true) do |form| %>
  <% if puja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puja.errors.count, "error") %> prohibited this puja from being saved:</h2>

      <ul>
      <% puja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :puja_user_id %>
  </div>

  <div class="field">
    <%= form.label :subasta_id %>
    <%= form.text_field :subasta_id, id: :puja_subasta_id %>
  </div>

  <div class="field">
    <%= form.label :fecha_puja %>
    <%= form.datetime_select :fecha_puja, id: :puja_fecha_puja %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :puja_valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
