<p id="notice"><%= notice %></p>

<h1>Coches</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Fecha matriculacion</th>
      <th>Combustible</th>
      <th>Kms</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coches.each do |coch| %>
      <tr>
        <td><%= coch.marca %></td>
        <td><%= coch.modelo %></td>
        <td><%= coch.fecha_matriculacion %></td>
        <td><%= coch.combustible %></td>
        <td><%= coch.kms %></td>
        <td><%= coch.descripcion %></td>
        <td><%= link_to 'Show', coch %></td>
        <td><%= link_to 'Edit', edit_coch_path(coch) %></td>
        <td><%= link_to 'Destroy', coch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coch', new_coch_path %>
