<div class="separador"></div>
<div class="fondo">
  <nav class="navbar navbar-default" style="width:65%; margin: 0 auto;">
    <div class="container-fluid text-center">
      <ul>
        <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-secondary" checked autocomplete="off" onclick="deslizar('cochesCompra.JSON')"><span class="glyphicon glyphicon-option-vertical"></span></button>
          <%= link_to "Comprar", {controller: 'sells', action: 'index'}, class: "btn btn-secondary" %>
          <%= link_to "Vender", {controller: 'coches', action: 'index'}, class: "btn btn-secondary" %>
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Alquilar <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><%= link_to "Alquilar un vehiculo", {controller: 'rentals', action: 'index'}%></a></li>
              <li><a href="#"><%= link_to "Alquila tu vehiculo", {controller: 'alquila_vehiculo', action: 'index'}%></a></li>
            </ul>
          </div>
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Subastar <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" ><%= link_to "Subastas disponibles", {controller: 'subasta', action: 'index'}%></a></li>
              <li><a href="#" ><%= link_to "Subasta tu vehiculo", {controller: 'subasta_vehiculo', action: 'index'}%></a></li>
            </ul>
          </div>
        </div>
      </ul>
      <!-- COMPRAR UN VEHICULO-->
      <%= link_to 'Nuevo Coche', new_coch_path %>
    </div>
  </nav>
</div>
<div class="separador"></div>

<div class="news panel panel-default " style="background-color: #FFFCF4; width:90%; margin:0 auto">
  <div class="panel-body">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-sort-by-attributes"></span>  Ordenar por  </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Fecha de publicación</a></li>
        <li><a class="dropdown-item" href="#">Precio</a></li>
        <li><a class="dropdown-item" href="#">Kilometraje</a></li>
      </ul>
    </div>
    <div class="latestNews"></div>
    <button type="button" class="btn btn-secondary" onclick="cargarMas('cochesCompra.JSON')" style="display:block; margin:0 auto"> Cargar más</button>
  </div>
</div>
