<%= form_with(model: sell, local: true) do |form| %>
  <% if sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sell.errors.count, "error") %> prohibited this sell from being saved:</h2>

      <ul>
      <% sell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coche_id %>
    <%= form.text_field :coche_id, id: :sell_coche_id %>
  </div>

  <div class="field">
    <%= form.label :comprador_id %>
    <%= form.text_field :comprador_id, id: :sell_comprador_id %>
  </div>

  <div class="field">
    <%= form.label :vendedor_id %>
    <%= form.text_field :vendedor_id, id: :sell_vendedor_id %>
  </div>

  <div class="field">
    <%= form.label :fecha_publicacion %>
    <%= form.date_select :fecha_publicacion, id: :sell_fecha_publicacion %>
  </div>

  <div class="field">
    <%= form.label :fecha_compra %>
    <%= form.date_select :fecha_compra, id: :sell_fecha_compra %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :sell_precio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
