<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag("logocremita.png", alt: "LOGO", width: '150')%>
      </div>
      <ul class="nav navbar-nav menu">
        <li class="active item"><%= link_to "Inicio", {controller: 'inicio', action: 'index'}%></li>
        <li class="item"><%= link_to "FAQs", {controller: 'faqs', action: 'faqs'}%></li>
        <li class="item"><a href="#">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right partderecha">
        <li><%= link_to new_user_path do %>
            <span class="glyphicon glyphicon-user"></span>
            Regístrate
          <% end %></li>
        <li>
          <% if logged_in?%>
            <%= link_to logout_path do %>
              <span class="glyphicon glyphicon-log-out"></span>
              Cerrar sesión
            <% end %>
            <% else %><%= link_to login_path do %>
              <span class="glyphicon glyphicon-log-in"></span>
              Iniciar sesión
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>